.mauve-background {
  background-color: #9590A8;
}

.tan-background {
  background-color: #D7CEB2;
}

.lightblue-background {
  background-color: #C0E8F9;
}

.highlight {
  background-color: #D5C7BC;
  margin-left: 100px;
  margin-right: 100px;

}

img {
  width: 80%

}

h3 {
  font-style: italic;
}

.favorite {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.borderp {
  border: 5px solid brown;
}
